doctype html
html
  head
    link(href="webfonts/fa.min.css", rel="stylesheet")

    link(href="style.css", rel="stylesheet")

    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="https://unpkg.com/vuex/dist/vuex.min.js")
    script(src="https://unpkg.com/vue-router/dist/vue-router.min.js")
    script(src="https://unpkg.com/tone@13.8.25/build/Tone.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/3.0.9/vexflow-debug.js")

    script(src="javascript/util.js")
    script(src="javascript/api.js")
    script(src="javascript/store.js")
    script(src="javascript/tone.js")
    script(src="javascript/vexflow_ui.js")
    script(src="javascript/handler.js")
    script(src="javascript/mouse_listener.js")
    script(src="javascript/vexflow_extension.js")
    script(src="javascript/constants.js")
    script(src="javascript/notemap.js")
    script(src="javascript/note_menu.js") 
    script(src="javascript/note_menu_button_renderer.js")                                    

    link(href="style.css", rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

  body
    #app
      //- router-link(to="/") Home
      //- router-link(to="/login") Log In
    
      //- h2(v-if="logged_in") Logged in
      //- h2(v-else) Please login first
      router-view
  
    include login
    include albums
    include student
    include tutor

    script(src="javascript/app.js")

