vtemplate#v-tutor
  .container-fluid.home-student-bg
      .row.mb-5
        .col
          nav#home-nav.navbar.navbar-expand-lg.navbar-dark
            a#logo.text-dark(href='#') MUSIC ACADEMY
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item.active
                    a.nav-link.text-dark(href='#') Home
                  li.nav-item
                    a.nav-link.text-dark(href='#') About
      .row.mt-5.mb-5.justify-content-center
        .col-6.text-right.pr-5
          button.btn.btn-outline-dark.btn-lg(v-on:click="$emit('play_sequence')") Play Sequence
        .col-6.text-left.pl-5
          select.btn.btn-outline-dark.btn-lg(v-model="time_signature" v-on:change="$emit('change_time_signature')")
            option(disabled selected) Time Signature
            option 4/4
            option 3/4
            option 2/4
            option 6/8
            option 3/8
      .row.m-0.p-0.justify-content-center
        .col.m-0.p-0
          #vexflow-wrapper.text-center
      .row.justify-content-center.mt-3
        .col-3.text-center
          p.m-0.text-dark BPM: {{ bpm }}
          input.w-100(type="range" class="custom-range" min="60" max="180" v-model="bpm")
        .col-3.text-center
          p.m-0.text-dark No. Bars: {{ num_of_bars }}
          input.w-100(type="range" class="custom-range" min="1" max="4" v-model="num_of_bars")
  

script.
  comps.load("v-tutor")
  comps.update('v-tutor', {
    data() {
      return {
        time_signature: 'Time Signature',
        handler: {},
        bpm: 60,
        num_of_bars: 4,
      };
    },
    mounted() {
      this.handler = new Vex.UI.Handler("vexflow-wrapper").init();

      this.$on('play_sequence', () => {
        tone.init();
        tone.playSequence(this.bpm, this.handler.exportNotes(), parseInt(this.num_of_bars) + 1);
      });

      this.$on('change_time_signature', () => {
        this.handler.setTimeSignature(this.time_signature);
      });
    }
  })