@import "components";
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default;
$state-danger-text: #a94442 !default;


/* universal */

html,body
{
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  /* overflow-x: hidden; */
}

.home {
  padding: 0 !important;
}

.not-home {
  padding: 50px 0px 0px 0px !important;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #343a40;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.75px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2em;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray;
  line-height: 1.2;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.text-small {
  font-size: 0.7em;
}

.height-80 {
  height: 560px;
  overflow: scroll;
}

/* header */

#logo {
  float: left;
  margin-right: 30px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }
  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* gravatar */

.gravatar_profile {
  .gravatar {
    margin-top: 10px;
  }
}

.gravatar_edit {
  margin-bottom: 15px;
}

.stats {
  overflow: auto;
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.remember_me {
  #session_remember_me {
    width: auto;
    margin-left: 0;
    margin-top: 7px;
  }
  label {
    font-weight: normal;
  }
}

/* user profile */

.profile_heading {
  a {
    color: $gray;
    font-size: 0.5em;
    letter-spacing: -0.75px;
  }
}

.user_profile {
  margin-bottom: 10px;
  .tutor-profile, .student-profile {
    h2 {
      color: $gray;
    }
    .tutor-gravatar, .student-gravatar {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

.user_courses {
  .sort .dropdown {
    float: right;
  }
}

.edit_student {
  .form-check .form-check-input {
    margin-top: 7px;
  }
}

/* course info */

.btn-course-new {
  margin-bottom: 15px;
}

.course-card {
  .card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
  }

  .badges {
    margin: 5px 0px -15px 15px;
    .badge {
      margin-bottom: 5px;
    }
  }
  .title, .tutor, .price, .rating, .students {
    display: block;
  }
  .title {
    margin-top: 0px;
    a {
      color: $gray-dark;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .price {
    margin: 10px 0px 0px 0px;
  }
  .rating {
    margin-top: -2px;
    margin-bottom: 5px;
  }
}

.course-index-title, .course-index-none {
  margin: 20px 0px;
  text-align: left;
}

.courses-heading {
  font-size: 1.6em;
}

.courses-collection {
  margin-bottom: 20px;
  .heading {
    font-size: 1.6em;
  }
}

.course-lessons-nav-tabs {
  .nav-tabs {
    position: fixed;
    z-index: 9;
    background-color: #ffffff;
    padding: 20px 950px 0px 0px;
    margin-top: -1.5%;
  }
}

@media only screen and (max-width: 1200px) {
  #course-lessons-tabs {
    margin-top: -2%;
  }
}

@media only screen and (max-width: 860px) {
  #course-lessons-tabs {
    margin-top: -3%;
  }
}




/* home page */

.home-bg {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('resources/home_splash.jpg') center no-repeat;
  background-color: black;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  .home-flash {
    margin-top: -3%;
    margin-bottom: -8%;
  }
  .home-text {
    margin-top: 5%;
    h1, h3 {
      text-shadow: 2px 2px 4px black;
    }
  }
  .btn-lg{
    font-size: 1.5rem;
    width: 50%;
  }
}

@media only screen and (max-height: 760px) {
  #features-list {
    margin-top: 10%;
  }
}

@media only screen and (max-height: 710px) {
  #features-list {
    margin-top: 8%;
  }
}

@media only screen and (max-height: 675px) {
  #features-list {
    margin-top: 2%;
  }
}

.home-student-bg {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('resources/dark_bg.jpg') center no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  height: 800vh;
  .home-flash {
    margin-top: -1%;
    margin-bottom: -10%;
  }
  .home-text {
    margin-top: 10%;
    h1, h3 {
      text-shadow: 2px 2px 4px black;
    }
    h2 {
      text-shadow: 1px 1px 4px black;
    }
    a {
      color: $gray-lighter;
      text-decoration: none;
    }
    .card {
      max-width: 580px;
      height: 150px;
      h5 {
        margin-bottom: 5px;
      }
      h2 {
        text-shadow: none;
      }
      img {
        padding: 0px 0px 5px 5px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .square { 
    width: 150px;
    height: 150px;
    img { 
      max-width: 100%; 
      height:auto; 
      object-fit: contain; 
    } 
  }
}

@media (max-height: 700px) {
  #home-text {
    margin-top: 15vh;
  }
}

@media (max-height: 580px) {
  #home-text {
    margin-top: 0px;
  }
}

#home-nav {
  background: transparent !important;
}


.quaver {
  background: url("resources/quaver.png") center no-repeat;
}

.semi_quaver {
  background: url("resources/semi_quaver.png") center no-repeat;
}

.triplet {
  background: url("resources/triplets.png") center no-repeat;
}

.active {
  filter: brightness(150%);
}

.inactive {
  filter: brightness(50%);
}

// MediaRecording
.recording {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .main-controls {
    padding: 0.5rem 0;
  }
  
  canvas {
    width: 50%;
  }
  
  /* Make the clips use as much space as possible, and
   * also show a scrollbar when there are too many clips to show
   * in the available space */
  .sound-clips {
    flex: 1;
    overflow: auto;
    text-align: center;
  }
  
  section, article {
    display: block;
  }
  
  audio {
    width: 70%;
    display: block;
    margin: 1rem auto 0.5rem;
  }
  
  .clip p {
    display: inline-block;
    font-size: 1rem;
  }
  
  .clip button {
    font-size: 1rem;
    float: right;
  }
  
  
  /* Checkbox hack to control information box display */
  
  label {
    font-size: 3rem;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 5;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
  }
  
  input[type=checkbox] {
     position: absolute;
     top: -100px;
  }
  
  
  /* Cursor when clip name is clicked over */
  
  .clip p {
    cursor: pointer;
  }
  
  /* Adjustments for wider screens */
  @media all and (min-width: 800px) {
    /* Don't take all the space as readability is lost when line length
       goes past a certain size */
    .wrapper {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}