@import "components";
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default;
$state-danger-text: #a94442 !default;


/* universal */

html,body
{
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  /* overflow-x: hidden; */
}

.home {
  padding: 0 !important;
}

.not-home {
  padding: 50px 0px 0px 0px !important;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #343a40;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.75px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2em;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray;
  line-height: 1.2;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.text-small {
  font-size: 0.7em;
}

.height-80 {
  height: 560px;
  overflow: scroll;
}

/* header */

#logo {
  float: left;
  margin-right: 30px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: rgb(177, 169, 169);
    text-decoration: none;
  }
}


/* course info */

@media only screen and (max-width: 1200px) {
  #course-lessons-tabs {
    margin-top: -2%;
  }
}

@media only screen and (max-width: 860px) {
  #course-lessons-tabs {
    margin-top: -3%;
  }
}

/* home page */

.home-bg {
  height: 100vh;
  overflow: hidden;
  .home-flash {
    margin-top: -3%;
    margin-bottom: -8%;
  }
  .home-text {
    margin-top: 5%;
    h1, h3 {
      text-shadow: 2px 2px 4px black;
    }
  }
  .btn-lg{
    font-size: 1.5rem;
    width: 50%;
  }
}

@media only screen and (max-height: 760px) {
  #features-list {
    margin-top: 10%;
  }
}

@media only screen and (max-height: 710px) {
  #features-list {
    margin-top: 8%;
  }
}

@media only screen and (max-height: 675px) {
  #features-list {
    margin-top: 2%;
  }
}

.home-student-bg {
  overflow: auto;
  height: 100vh;
  .home-flash {
    margin-top: -1%;
    margin-bottom: -10%;
  }
  .home-text {
    margin-top: 10%;
    h1, h3 {
      text-shadow: 2px 2px 4px $gray-light;
    }
    h2 {
      text-shadow: 1px 1px 4px $gray-light;
    }
    a {
      color: $gray-lighter;
      text-decoration: none;
    }
    .card {
      max-width: 580px;
      height: 150px;
      h5 {
        margin-bottom: 5px;
      }
      h2 {
        text-shadow: none;
      }
      img {
        padding: 0px 0px 5px 5px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .square { 
    width: 150px;
    height: 150px;
    img { 
      max-width: 100%; 
      height:auto; 
      object-fit: contain; 
    } 
  }
}

@media (max-height: 700px) {
  #home-text {
    margin-top: 15vh;
  }
}

@media (max-height: 580px) {
  #home-text {
    margin-top: 0px;
  }
}


.quaver {
  background: url("resources/quaver.png") center no-repeat;
}

.semi_quaver {
  background: url("resources/semi_quaver.png") center no-repeat;
}

.triplet {
  background: url("resources/triplets.png") center no-repeat;
}

.active {
  filter: brightness(150%);
}

.inactive {
  filter: brightness(50%);
}

// MediaRecording
.recording {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .main-controls {
    padding: 0.5rem 0;
  }
  
  canvas {
    width: 50%;
  }
  
  /* Make the clips use as much space as possible, and
   * also show a scrollbar when there are too many clips to show
   * in the available space */
  .sound-clips {
    flex: 1;
    overflow: auto;
    text-align: center;
  }
  
  section, article {
    display: block;
  }
  
  audio {
    width: 70%;
    display: block;
    margin: 1rem auto 0.5rem;
  }
  
  .clip p {
    display: inline-block;
    font-size: 1rem;
  }
  
  .clip button {
    font-size: 1rem;
    float: right;
  }
  
  
  /* Checkbox hack to control information box display */
  
  label {
    font-size: 3rem;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 5;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
  }
  
  input[type=checkbox] {
     position: absolute;
     top: -100px;
  }
  
  
  /* Cursor when clip name is clicked over */
  
  .clip p {
    cursor: pointer;
  }
  
  /* Adjustments for wider screens */
  @media all and (min-width: 800px) {
    /* Don't take all the space as readability is lost when line length
       goes past a certain size */
    .wrapper {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}